@import url('https://fonts.googleapis.com/css2?family=Monoton&family=VT323&family=DotGothic16&display=swap');

* {
	padding: 0px;
	margin: 0px;
	font-family: 'VT323', 'DotGothic16', sans-serif, 'Monoton', cursive;
	box-sizing: border-box;
	position: relative;
}


/*Typography*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Monoton', cursive;
	font-weight: 300;
	width: 100%;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size:1.9em;
}
h4 {
	font-size: 1.5em;
}
ul, ol {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
p, ul li {
	font-size: 2em;
}
a, a.btn-primary:hover {
	color: white;
  	background: -webkit-linear-gradient(45deg, purple, pink, orange, sienna, orange, pink, purple);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
@supports (background-clip: text) {
  a {
    background-image: linear-gradient(45deg, purple, pink, orange, sienna, orange, pink, purple);
    background-clip: text;
    color: transparent;
  }
}
a:hover, a.btn-primary {
	-webkit-text-fill-color: white;
	color: white;
	text-decoration: none;
}
.sr-only {
	display: none;
}


/*Containers*/
article {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	padding: 10vh 10vw;
	scroll-behavior: smooth;
	scroll-snap-type: mandatory;
	scroll-snap-type: both mandatory;
	overscroll-behavior-x: contain;
	overflow-x: auto;
}
section {
	min-width: 100vw;
	height: 100vh;
	scroll-snap-align: center;
	overflow: hidden;
	background: linear-gradient(180deg, blue, purple);
}
section .container {
	padding: 10vh 5vw;
}

#home:before {
	content: '';
	width: 100vw;
	height: 100vh;
	position: absolute;
    background-image: linear-gradient(10deg, transparent, pink, transparent);
}
#portfolios:before {
		content: '';
	width: 100vw;
	height: 100vh;
	position: absolute;
   background-image: linear-gradient(170deg, transparent, pink, transparent);

}


/*Menu + Header Container*/
header {
	position: absolute;
	top: 0px;
	left: 0px;
	margin-top: 20px;
}
nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 6;
}
#navlogo, #mainLabel {
	flex: 1;
}
.trigram {
	display: none;
}
.menuitems {
	flex: 6;
}
header .container {
	width: 100vw;
	text-align: center;
}
header .container,  #main .menuitems ul {
	height: 5vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	z-index: 1;
}
#main .menuitems ul  li {
	flex: 1;
}
#main .menuitems ul  li .droptions {
	display: none;
}

#main .menuitems ul  li.dropdown:hover .droptions {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-top: 75px;
    margin-right: 20px;
}


/*Home*/
#home .logo h2 {
	visibility: hidden;
}
#home .card:before {
    content: "";
    float: left;
    height: 100%;
    width: 50%;
    shape-outside: polygon(
    0 0,
    59% 0,
    33% 6%,
    23.4% 17.3%,
    6% 32.6%,
    0 50%,
    6% 65.6%,
    23.4% 82.7%,
    50% 94%,
    98% 100%,
    0 100%
  );
    shape-margin: 7%;
}
#home  .card{
	width: 650px;
	height: 650px;
	padding-top: 31px;
	padding-right: 31px;
	clip-path: circle(50% at 50% 50%);
	background: linear-gradient(180deg, sienna, orange, beige, pink, purple);
}
#home  div.logo h1:before {
	content: "Hello! \A I'm  ";
	white-space:pre;
}
#home  div.logo h1:after {
	content: "!";
}
.start-chat {
	margin-top: 20px;
}
.start-chat a {
		font-family: 'Monoton', cursive;
		font-size: 45px;
		padding:20px;
		border: none;
}
.start-chat a::before {
	content: '';
	background-image: linear-gradient(60deg, purple, blue);
	border-radius: 5%;
	width: 306px;
	height: 50px;
	position: absolute;
	z-index: -2;
	border-radius: 200px;
	padding: 9px;
	margin-left: -20px;
}
#home > div > div.card > div.content > p:nth-child(1) > a {
	background-image: linear-gradient(60deg, purple, blue);		
}


/*Portfolio*/
#portfolios .projects-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
}
.projects {
  	position: relative;
	width: 300px;
	height: 300px;
	transform-style: preserve-3d;
	transform-origin: center;	
	transform: rotateY(0deg) perspective(1500px);
}
.projects .project {
	position: absolute;
	top: 0vh;
	left:0vw;
	width:100%;
    height: 100%;
    text-align: center;
	transform-origin: center;
	transform-style: preserve-3d;
    transition: transform 2s;
}
.projects .project:nth-child(1) 		{
	transform: rotateY(0deg) translateZ(400px) perspective(1500px);
}
.projects .project:nth-child(2) 		{
	transform: rotateY(60deg) translateZ(400px) perspective(1500px)
}
.projects .project:nth-child(3) 		{
	transform: rotateY(120deg) translateZ(400px) perspective(1500px);
}
.projects .project:nth-child(4) 		{
	transform: rotateY(180deg) translateZ(400px) perspective(1500px);
}
.projects .project:nth-child(5) 		{
	transform: rotateY(240deg) translateZ(400px) perspective(1500px);
}
.projects .project:nth-child(6) 		{
	transform: rotateY(300deg) translateZ(400px) perspective(1500px);
}
.projects .project figure img {
	-webkit-box-reflect: below 0px linear-gradient(transparent, transparent, rgba(0,0,0,.2));
    border: 10px navy inset;
}
.projects .project figure figcaption  {
	width: 50%;
	margin: -200px auto;
	background-image: linear-gradient(to bottom right, #0f051e, #2e2a35);
	border: 9px #2c2c2c inset;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 5%;
}
.projects .project figure figcaption h4  {
	display: none;
}
#portfolios .container .projects-container .projects  figure figcaption p {
	flex: 1;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    background: var(--text);
    font-size: 17px;
    overflow: hidden;
	text-align: center;
}
#portfolios .container .projects-container .projects  figure figcaption p a {
    padding: 6px;
    -webkit-text-fill-color: white;
    text-decoration: none;
	
}
#portfolios .container .projects-container .projects figure figcaption p:nth-child(2) a:before {
    content: url(../img/icon-website.png);
    margin-right: 10px;
    position: relative;
    top: 4px;
}
#portfolios .container .projects-container .projects  figure figcaption p:nth-child(3) a:before {
    content: url('../img/icon-github.png');
    margin-right: 10px;
    position: relative;
    top: 4px;
}
#portfolios div div.controls {
	position: absolute;
    bottom: -30px;
    right: 330px;
}
#portfolios div div.controls ul  {
	transform-style: preserve-3d;
	transform: rotateY(9deg);
}
#portfolios div div.controls .arrowup, #portfolios div div.controls .arrowdown  {
	position: absolute;
	left: 286px;
	width: 20px;
	height: 10px;
}
#portfolios div div.controls .arrowup {
	top: -68px;
} 
#portfolios div div.controls .arrowdown  {
	top: -21px;
}
#portfolios div div.controls ul li, .projects .project figure  figcaption  p a {
	background-image: linear-gradient(172deg, purple, blue);
	text-align: center;
   	padding: 10px 20px;
}
#portfolios div div.controls ul li {
	height: 50px; 
	width: 280px;
	position: absolute;
	bottom: 0px;
	transform-style: preserve-3d;
	transform-origin: center;
	transition: transform 2s;
}
#portfolios div div.controls ul li:nth-child(1) {
	transform: rotateX(0deg) translateZ(50px);
}
#portfolios div div.controls ul li:nth-child(2) {
	transform: rotateX(60deg) translateZ(50px);
}
#portfolios div div.controls ul li:nth-child(3) {
	transform: rotateX(120deg) translateZ(50px);
}
#portfolios div div.controls ul li:nth-child(4) {
	transform: rotateX(180deg) translateZ(50px);
	font-size: 27px;
}
#portfolios div div.controls ul li:nth-child(5) {
	transform: rotateX(240deg) translateZ(50px);
}
#portfolios div div.controls ul li:nth-child(6) {
	transform: rotateX(300deg) translateZ(50px);
}


/*Process*/
#process .container {
	width: 100vw;
	height: 100vh;
	background-image:linear-gradient(10deg, transparent, pink, transparent);
}
#designCarousel .container:after {
	
}
#chevron ol, #designCarousel div.carousel-inner {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-contents: center;
}
#designCarousel div.carousel-inner {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 50%;
    background: conic-gradient(black, blue, purple, orange, purple, blue,black);
}
#chevron ol li, #designCarousel div.carousel-inner .item {
	flex: 1;
}
#process #chevron {
	display: flex;
	justify-content: center;
}
#process #chevron ol {
    list-style-type: none;
    display: flex;
    max-width: 700px;
    align-content: center;
    justify-content: center;
	flex: 1;
	flex-wrap: wrap;
	margin: 60px 40px -20px 40px;
	padding: 0px;
	margin-bottom: 22px;
}
#process #chevron ol li {
	text-align: center;
    flex: 1;
	min-width: 120px;
	min-height: 50px;

	line-height: 40px;
	font-size: 28px;
}
#process #chevron ol li:after {
    content: '»';
    padding: -2px;
    font-size: 28px;
    width: 0;
    height: 0;
color: white;
  	background: -webkit-linear-gradient(45deg, purple, pink, orange, sienna, orange, pink, purple);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
    z-index: 2;
}
#process #chevron ol li a {
    padding: 10px;
    margin-bottom: 20px;
	background-image: linear-gradient(60deg, purple, blue);
    border-radius: 5%;
    font-size: 33px;

}
#process .container .carousel-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
	margin: 0 auto;
	height: 60vh;
    overflow: hidden;
	box-sizing: border-box;
	max-width: 1250px;
}
#process .container .carousel-inner #carousel-items {
	display: flex;
    flex-wrap: wrap;
	transition: 2s transform;
	flex-direction: column;
}
#process .container .carousel-inner:before, #process .container .carousel-inner #carousel-items:before {
	display: table;
    content: " ";
}

#process .container .carousel-inner  .item {
	flex-grow: 1;
    display: flex;
    align-items: center;
	position: relative;
    padding: 100px 20px;
    border: 1px var(--border) solid;
    width: 100%;
    min-height: 220px;
    background: var(--background);
	margin-top: 60px;
	min-width: 700px;
	min-height: 500px;
	max-width: 900px;
}

#process .container .carousel-inner  .item h2 {
    position: absolute;
    top: 60px;
    right: 0px;
    font-size: 7em;
    font-weight: 600;
    transition: 0.5s;
    color: rgba(255,255,255,0.05);
    min-height: 90px;
	text-align: center;
}
#process .container .carousel-inner .item:hover h2, .modal .modal-content h4, .modal .modal-content h6 {
    top: 0px;
    color: rgba(255,255,255, 0.8);
	text-shadow: 2px 3px var(--accent);
	transition: top 1s, color 1s, text-shadow 1s;
}
#process .container .carousel-inner .item .card {
	flex: 1;
	box-sizing: border-box;
	align-self: baseline;
	margin-top: 30px;
}
#process .container .carousel-inner .item .card-body {
	padding: 20px;
}
#process .container .carousel-inner .item .card-body .card-text {
	padding-bottom: 20px;
	color: white;
	font-size: 24px;
}
#process .container .carousel-inner .item .card-body a, #process .container .carousel-inner .item .card-body a:visited {
    text-align: center;
    color: white;
	border: 1px rgba(255,255,255,0.5) solid;
    padding: 11px;
    border-radius: 6px;
	text-decoration: none;
}
.btn {
    background: var(--background);
    text-align: center;
    color: var(--text);
	border: 1px rgba(255,255,255,0.5) solid;
    padding: 11px;
    border-radius: 6px;
	text-decoration: none;
}
#process .container .carousel-inner .item .card-body a:hover, .btn:hover {
    color: linear-gradient(to right, purple, blue);
	transition: .5s color ease-in, .5s background ease-in;
	}
#process h3 {
	color: white;
	font-size: 1.5em;
	margin-bottom: 10px;
}


/*Modal*/
.modal {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow-y: scroll; 
  scrollbar-gutter: auto;
  background-color: rgba(0,0,0,0.4); 
 }
 .modal .modal-content {
  background: white;
  margin: 15% auto;
  border: 1px solid #888;
  width: 80%; 
}
 .modal .modal-content > div {
  padding-right: 20px;
 }
.modal .modal-content h4, .modal .modal-content h6, .modal .modal-content p,  .modal .modal-content ul li {
	color: var(--background);
}
.modal .modal-content h4 {
	font-size: 3em;
	font-weight: 600;
	min-height: 54px;
	line-height: 45px;
    margin: 20px;
}
.modal .modal-content h6 {
	font-size: 2em;
	line-height: 45px;
	font-weight: 600;
	margin: 20px 0px 0px 0px;
}
.modal .modal-content .modal-body {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: row;
	align-content: top;
	justify-content: space-around;
	gap: 12px;
	box-sizing: border-box;
}
.modal .modal-content .modal-body .item {
	flex: 1;
	text-align: center;
	min-width: 500px;
	
}
.modal .modal-content .modal-body .item img {
	max-width: 500px;
}
.modal .modal-content .modal-body .item ul {
	list-style-type: none;
	max-width: 700px;
	margin: 0 auto;
	padding: 0 20px;
	text-align: left;
	line-height: 32px;
	
}
.modal .modal-content .modal-body .item ul li:before{
	content: 'ðŸ’¡  '
}
.modal .modal-content .modal-footer {
	margin: 20px 0px;;
	text-align: right;
}

.fade {
	  display: none; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--border);
  text-decoration: none;
  cursor: pointer;
}

	
/*RESUME*/
#resume .container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-image:linear-gradient(100deg, transparent, pink, transparent);

}
#resume .container h1 {
	width: 100vw;
}
#resume .container .resumetopics {
	flex: 1;
	align-self: flex-start;
	max-width: 250px;
}
#resume .container .resumetopics .cb p {
    background: linear-gradient(45deg, purple, pink, orange, sienna, orange, pink, purple); 

}
#resume .container .resumetopics .cb p a {
    -webkit-text-fill-color: white;
	text-decoration: none;

}

 #resume #portfolio {
	display: none;
}
#resume h3 {
	font-size: 1.5em;
	line-height:	2.5em;
	text-align: center;
	
}
#resume > .container > .subsections  {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: max-content;
    height: 80vh;
    flex: 1;
    margin: 0 auto;
    flex-direction: column;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    scroll-snap-type: both mandatory;
    overscroll-behavior-x: contain;
    overflow-x: scroll;
}
#resume > .container > .subsections  > div {
   flex: 1;
   align-self: stretch;
   margin: 0px 1vw;
   padding: 2vw;
   position: relative;
   width: 100%;
   justify-content: top;
   align-items: top;
   min-width: 250px;
}

#resume .container .resumetopics .cb {
	flex: 1;
	text-align: center;   
}
#skills-sub-types > h4, #experience p, #education .content h4, #hobbies > div > div > div {
	font-family: 'VT323', 'DotGothic16', sans-serif, 'Monoton', cursive;
	box-sizing: border-box;
	text-align: center;
    border-color: #ddd;
	min-width: 100%;
	padding: 10px;
	font-weight: bold;
	font-size: 2em;
}
#skills-sub-types > h4:hover,   #experience p:hover, #education .content h4:hover, #hobbies > div > div > div.box:hover, #process #chevron ol li a:hover, #process #chevron ol li a.active {
    font-weight: 900;
	transition: background .5s, color .5s;
	text-decoration: none;
}
#process #chevron ol li a:hover, #process #chevron ol li a.active {
   border-radius: 0px;
}
#experience ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	padding-left: 30px;
}

#skills-sub-types > div.boxes,  #experience ul li, #education .content p, #hobbies > div > div > div.unbox  {
	display: none;
	border-top: 1px #ccc solid;
	padding: 20px;
	margin: 0px;
}
#education {
	min-height: 50vh;
}
#hobbies > div > div > div.unbox.block p, #hobbies > div > div > div.unbox.block ul li {
	font-size: 1em;
	font-weight: normal
}
#experience ul.block li, .block {
	display: block !important;
}

#skills-sub-types div.boxes.expand {
 	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
	margin: 0px;
	padding: 20px;
}	
#skills-sub-types div.boxes .box {
	max-width: 80px;
 	max-height: 120px;
	text-align: center;
}
#skills-sub-types div.boxes.expand .box svg {
	display: inline-block;
	vertical-align: middle;
}
#skills-sub-types div.boxes.expand .box svg text {
	transition: stroke 20s linear forwards;
	stroke: var(--background);
}
#contact .container {
	width: 100vw;
	height: 100vh;
	background-image:linear-gradient(225deg, transparent, pink, transparent);
}

/*Chatterbox*/
#terminalUX {
	width: 80vw;
	height: 80vh;
	margin: 10vh 10vw;
	background: black;
	border-radius: 10px;
	color: lime;
	font-family: 'DarkGothic16', 'VT323', Monospace, cursive;
	overflow: auto;
	padding: 20px;
}
blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media all and (max-width: 700px) {
		#home .container {
		transform: scale(0.7,0.7);
		margin-left: -60px;
	}
	header .container {
	align-items: center;
}
nav#main .menuitems:before {
	content: '☰';
	display: block;
    color: var(--text);
    text-align: right;
    padding: 10px 40px;
}
nav#main ul {
  position: absolute;
  visibility:hidden;
  top: 3vh;
  right: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  gap: 0px;
}
#main .menuitems ul {
	flex-direction: column;

}
nav .menuitems:hover ul li{
	visibility:visible;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	min-width: 200px;
}
nav#main li a {
    width: 150px;
	color: var(--quarternary);
}
nav#main .menuitems ul li:hover {
	color: var(--text);
	background: var(--primary); 
	border-radius: 5%;
}
nav#main .menuitems ul li.dropdown ul.droptions {
    display: none;
}
nav#main .menuitems ul li.dropdown:hover ul.droptions {
	display: flex;
    right: 140px;
	top: -40px;
}
	#resume .container .resumetopics {
		display: none;
	}
	.modal .modal-content .modal-body .item img
	{
		max-width: 200px;
	}
}
@media all and (max-width: 450px) {
	h1 {
		font-size: 2em;
	}
	#home .container {
		transform: scale(0.5,0.5);
		margin-left: -119px;
	}
	#process .container h2 {
		font-size: 1.5em;
		
	}
	#process #chevron ol {
		margin: 0px;
	}
	#process #chevron ol li {
		min-width: unset;
		min-height: unset;
				font-size: 16px;
		line-height: 22px;

	}
	#process #chevron ol li  a {
			font-size: 16px;
		line-height: 22px;
	}
	
	#process .container .carousel-inner .item { 
		padding: 0px;
	}

	.projects .project figure img {
		width: 200px;
		height: 200px;
	}
	.projects  {
	   margin-top: 90px;
	}
	
#process .container .carousel-inner .item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: auto;
    text-align: center;
	max-height : 50vh;
}
	#process .container .carousel-inner .item .card {
		margin-top: 0px;
		width: 100%;
	}
	#process .container .carousel-inner .item .card:nth-child(3), #process .container .carousel-inner .item .card:nth-child(4)  {
		margin-top: -60px;
	}
	#portfolios div div.controls {
		bottom: 30px;
		transform: scale(.8);
		right: auto;
	}

	.modal .modal-content .modal-body .item {
		min-width: unset;
	}

	#process .container .carousel-inner .item h2, #process .container .carousel-inner .item:hover h2 {
		display:none;
		font-size: 1.5em;
				top: -30px;
    color: rgba(255,255,255, 0.8);
	text-shadow: 2px 3px var(--accent);
	transition: top 1s, color 1s, text-shadow 1s;
 	}
		#process .container .carousel-inner .item .card-body .card-text {
		display: none
	}
}

/** UNUSED TRIANGLES
#portfolios .container .controls {
	display: none;
}
#portfolios .projects{
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex: 1;
	flex-wrap: wrap;
	 margin-top: 50px;
	 margin-left: 50px;
	 justify-content: center;
}
#portfolios  .projects-container .projects .project figure {
     filter: drop-shadow(-1px 6px 5px rgba(0, 0, 0, 0.5));
	 display: flex;
}
#portfolios  .projects-container .projects .project:nth-child(odd) figure {
	 flex-direction: column;
}

#portfolios  .projects-container .projects .project:nth-child(even) {
	margin-left: -300px;
	margin-right: 40px;
}

#portfolios  .projects-container .projects .project figure  img {
	clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
    filter: drop-shadow(-1px 6px 5px rgba(0, 0, 0, 0.5));
	width: 300px;
	height: 300px;
	z-index: 0;
}
#portfolios  .projects-container .projects .project:nth-child(odd) figure  img {
    transform: rotate(45deg);
}
#portfolios  .projects-container .projects .project:nth-child(even) figure  img {
    transform: rotate(225deg);
}
#portfolios  .projects-container .projects .project:nth-child(odd) figcaption {
	text-align: center;
    margin-top: -60px;
	margin-left: -350px;
	margin-bottom: 60px;
	z-index: 1;
}
#portfolios  .projects-container .projects .project:nth-child(even) figcaption {
	text-align: center;
	z-index: 1;
}
**/