@import url('https://fonts.googleapis.com/css2?family=Monoton&family=VT323&family=DotGothic16&display=swap');

* {
	padding: 0px;
	margin: 0px;
	font-family: 'VT323', 'DotGothic16', sans-serif, 'Monoton', cursive;
	box-sizing: border-box;
	position: relative;
}


/*Typography*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Monoton', cursive;
	font-weight: 300;
	width: 100%;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size:1.9em;
}
h4 {
	font-size: 1.5em;
}
ul, ol {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
p, ul li {
	font-size: 2em;
}
a, a.btn-primary:hover {
	color: white;
  	background: -webkit-linear-gradient(45deg, purple, pink, orange, sienna, orange, pink, purple);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
@supports (background-clip: text) {
  a {
    background-image: linear-gradient(45deg, purple, pink, orange, sienna, orange, pink, purple);
    background-clip: text;
    color: transparent;
  }
}
a:hover, a.btn-primary {
	-webkit-text-fill-color: white;
	color: white;
	text-decoration: none;
}
.sr-only {
	display: none;
}


/*Containers*/
article {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	padding: 10vh 10vw;
	scroll-behavior: smooth;
	scroll-snap-type: mandatory;
	scroll-snap-type: both mandatory;
	overscroll-behavior-x: contain;
	overflow-x: auto;
}
section {
	min-width: 100vw;
	height: 100vh;
	scroll-snap-align: center;
	overflow: hidden;
	background: linear-gradient(180deg, blue, purple);
}
section .container {
	padding: 10vh 5vw;
}

#home:before {
	content: '';
	width: 100vw;
	height: 100vh;
	position: absolute;
    background-image: linear-gradient(10deg, transparent, pink, transparent);
}
#portfolios:before {
		content: '';
	width: 100vw;
	height: 100vh;
	position: absolute;
   background-image: linear-gradient(170deg, transparent, pink, transparent);

}


/*Menu + Header Container*/
header {
	position: absolute;
	top: 0px;
	left: 0px;
}
nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 6;
}
#navlogo, #mainLabel {
	flex: 1;
}
.trigram {
	display: none;
}
.menuitems {
	flex: 6;
}
header .container {
	width: 100vw;
	text-align: center;
}
header .container,  #main .menuitems ul {
	height: 5vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	z-index: 1;
}
#main .menuitems ul  li {
	flex: 1;
}
#main .menuitems ul  li .droptions {
	display: none;
}

#main .menuitems ul  li.dropdown:hover .droptions {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-top: 75px;
    margin-right: 20px;
}

/*Home*/
#home .logo h2 {
	visibility: hidden;
}
#home .card:before {
    content: "";
    float: left;
    height: 100%;
    width: 50%;
    shape-outside: polygon(
    0 0,
    59% 0,
    33% 6%,
    23.4% 17.3%,
    6% 32.6%,
    0 50%,
    6% 65.6%,
    23.4% 82.7%,
    50% 94%,
    98% 100%,
    0 100%
  );
    shape-margin: 7%;
}
#home  .card{
	width: 650px;
	height: 650px;
	padding-top: 31px;
	padding-right: 31px;
	clip-path: circle(50% at 50% 50%);
	background: linear-gradient(180deg, sienna, orange, beige, pink, purple);
}
#home  div.logo h1:before {
	content: "Hello! \A I'm  ";
	white-space:pre;
}
#home  div.logo h1:after {
	content: "!";
}
.start-chat {
	margin-top: 20px;
}
.start-chat a {
		font-family: 'Monoton', cursive;
		font-size: 45px;
		padding:20px;
}
.start-chat a::before {
	content: '';
	background-image: linear-gradient(60deg, purple, blue);
	border-radius: 5%;
	width: 306px;
	height: 50px;
	position: absolute;
	z-index: -2;
	border-radius: 200px;
	padding: 9px;
	margin-left: -20px;
}
#home > div > div.card > div.content > p:nth-child(1) > a {
	background-image: linear-gradient(60deg, purple, blue);		
}


/*Portfolio*/
#portfolios .projects-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
}
.projects {
  	position: relative;
	width: 300px;
	height: 300px;
	transform-style: preserve-3d;
	transform-origin: center;	
	transform: rotateY(0deg) perspective(1500px);
}
.projects .project {
	position: absolute;
	top: 0vh;
	left:0vw;
	width:100%;
    height: 100%;
    text-align: center;
	transform-origin: center;
	transform-style: preserve-3d;
}
.projects .project:nth-child(1) 		{
	transform: rotateY(60deg) translateZ(400px)
}
.projects .project:nth-child(2) 		{
	transform: rotateY(120deg) translateZ(400px)
}
.projects .project:nth-child(3) 		{
	transform: rotateY(180deg) translateZ(400px)
}
.projects .project:nth-child(4) 		{
	transform: rotateY(240deg) translateZ(400px)
}
.projects .project:nth-child(5) 		{
	transform: rotateY(300deg) translateZ(400px)
}
.projects .project:nth-child(6) 		{
	transform: rotateY(360deg) translateZ(400px)
}
.projects .project:nth-child(7) 		{
	transform: rotateY(315deg) translateZ(400px)
}
.projects .project:nth-child(8) 		{
	transform: rotateY(360deg) translateZ(600px)
}
.projects .project figure img {
	-webkit-box-reflect: below 0px linear-gradient(transparent, transparent, rgba(0,0,0,.2));
    border: 10px navy inset;
}
.projects .project figure figcaption  {
	margin-top: -200px;
}
.projects .project figure figcaption h4  {
	display: none;
}
#portfolios div div.controls {
	position: absolute;
    bottom: -30px;
    right: 330px;
}
#portfolios div div.controls ul  {
	transform-style: preserve-3d;
}
#portfolios div div.controls ul li, .projects .project figure  figcaption  p a {
	    background-image: linear-gradient(172deg, purple, blue);
		 text-align: center;
   		 padding: 10px 20px;
}
#portfolios div div.controls ul li {
	height: 50px; 
	width: 280px;
	position: absolute;
	bottom: 0px;
	transform-style: preserve-3d;
	transform-origin: center;
}
#portfolios div div.controls ul li:nth-child(1) {
	transform: rotateX(60deg) translateZ(50px);
}
#portfolios div div.controls ul li:nth-child(2) {
	transform: rotateX(120deg) translateZ(50px);
}
#portfolios div div.controls ul li:nth-child(3) {
	transform: rotateX(180deg) translateZ(50px);
}
#portfolios div div.controls ul li:nth-child(4) {
	transform: rotateX(240deg) translateZ(50px);
}
#portfolios div div.controls ul li:nth-child(5) {
	transform: rotateX(300deg) translateZ(50px);
}
#portfolios div div.controls ul li:nth-child(6) {
	transform: rotateX(360deg) translateZ(50px);
}
/** UNUSED TRIANGLES
#portfolios .container .controls {
	display: none;
}
#portfolios .projects{
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex: 1;
	flex-wrap: wrap;
	 margin-top: 50px;
	 margin-left: 50px;
	 justify-content: center;
}
#portfolios  .projects-container .projects .project figure {
     filter: drop-shadow(-1px 6px 5px rgba(0, 0, 0, 0.5));
	 display: flex;
}
#portfolios  .projects-container .projects .project:nth-child(odd) figure {
	 flex-direction: column;
}

#portfolios  .projects-container .projects .project:nth-child(even) {
	margin-left: -300px;
	margin-right: 40px;
}

#portfolios  .projects-container .projects .project figure  img {
	clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
    filter: drop-shadow(-1px 6px 5px rgba(0, 0, 0, 0.5));
	width: 300px;
	height: 300px;
	z-index: 0;
}
#portfolios  .projects-container .projects .project:nth-child(odd) figure  img {
    transform: rotate(45deg);
}
#portfolios  .projects-container .projects .project:nth-child(even) figure  img {
    transform: rotate(225deg);
}
#portfolios  .projects-container .projects .project:nth-child(odd) figcaption {
	text-align: center;
    margin-top: -60px;
	margin-left: -350px;
	margin-bottom: 60px;
	z-index: 1;
}
#portfolios  .projects-container .projects .project:nth-child(even) figcaption {
	text-align: center;
	z-index: 1;
}
**/