@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

:root {
  --background: #151d3c;
  --text: white;
  --accent: #63cdff;
  --primary: #060c21;
  --border: black;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Josefin Sans', Monotype, sans-serif;
	overflow-x: hidden;
	background: var(--background);
	box-sizing: border-box;
}
h1, h2, h3, h4, p {
	margin: 0px;
	padding: 0px;
	font-family: 'Josefin Sans', Monotype, sans-serif;
	position: relative;
}
a, a:visited {
	color:  var(--accent);
}
a:hover, a.active {
    color: ;
    text-shadow: 0 0 2px var(--accent);
	transition: text-shadow 1s;
}
ul li, .box3 {
	font-family: 'Josefin Sans', Monotype, sans-serif;
}
img {
	max-width: 80vw;
}
header {
    min-height: 15vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100vw;
	z-index: 100;
	background: var(--background);
}
header .container {
	display: flex;
	padding-top: 0.2%;
}
.sr-only {
	display: none
}
#navlogo {
	flex: 1;
	min-width: 80px
}
#navlogo p:hover {
	transform: rotate(360deg);
	transition: transform 2s;
}
#navlogo p {
    font-family: "Josephin Sans";
    background-color: rgba(255,255,255,0.4);
    color: var(--border);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px var(--border) double;
    font-size: 24px;
    padding-top: 7px;
    padding-left: 3px;
	padding-right: 2px;
    position: relative;
	line-height: 44px;
}
nav#main {
	flex: 6;
}
nav#main .trigram {
	display: none;
}

nav#main ul, #portfolios .controls ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav#main .menuitems ul li {
	flex: 1;
	margin: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-width: 60px;
}

p a, p a::visited, nav#main ul li a,  nav#main ul li a::visited {
	color: var(--text);
	border-radius: 5%;
}

a:hover, a.active {
    color: var(--accent);
 /*   box-shadow: 0 0 15px var(--accent);  */
    text-shadow: 0 0 2px var(--accent);
}

nav#main .menuitems ul li a i {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.05);
    font-size: 20px;
    z-index: 1;
	margin-bottom: 15px;
}
i.fa, nav#main .menuitems ul li a i.fab, i.fas {
    line-height: 40px !important;
    color: rgba(255,255,255,0.3);
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
	transform: scale(1.5)
}
nav#main .menuitems ul li a  span {
	padding-top: 40px;
	margin-top: -40px;
	}
nav#main .menuitems ul li a span {
	opacity: 0;
	display: block;
	}
nav#main .menuitems ul li a:hover span, nav#main .menuitems ul li a.active span {
	opacity: 1;
	transition: opacity 1s;
	}
ul.droptions {
  position: absolute;
  visibility:hidden;
  bottom: 10vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  max-width: 80px;
  
}

nav ul:hover li.dropdown:hover .droptions{
	visibility:visible;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background: var(--background);
}
nav#main li.dropdown ul.droptions li a {
    width: 80px;
}
nav#main li.dropdown ul.droptions li:hover, nav#main li:hover, #portfolios .controls ul li:hover, #portfolios .container .projects-container .projects  figure figcaption p:hover, .active {
 
	border-radius: 5%;
}


h1 {
	text-align: center;
}
article {
	margin: 0;
	width: 100vw;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
		background: repeating-linear-gradient(153deg,  var(--background),  transparent 10px,  rgba(255,255,255,0.01) -47px,  rgba(255,255,255,0.41) 187px);
	}
section {
	margin: 5vh 0 15vh 0px;
	padding: 0px;
	width: 100vw;
	min-height: 90vh;
	color: #fff;    
}
#home .container {
  margin-top: 4vh;	
}
#home .container .card, #contact .container .callout {
    position: relative;
    padding: 100px 20px;
    border: 1px var(--border) solid;
    width: 100%;
    max-width: 800px;
    min-height: 220px;
    background: var(--background);
	margin: 0 auto;
	box-sizing: border-box;
}
#home .container .card::before, #portfolios .container .projects-container::before, #contact .container .callout::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
}
#home .container::before {
	background: linear-gradient(235deg, #33FF00, #003366, #3300CC);
}
p {
	font-size: 18px;
}
h1, #home h1 {
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 5.5em;
    font-weight: 600;
    color: rgba(255,255,255,1);
	text-align: center;
	text-shadow: 2px 3px var(--accent);
}
#home h2  {
    position: relative;
    font-size: 5em;
    right: 0px;
    text-align: center;
    padding-bottom: 100px;
    top: 10px;
    color: rgba(255,255,255, 0.6);
}
#home p {
    margin-top: -40px;
	margin-bottom: 40px;
    font-size: 32px;
    line-height: 50px;
	text-align: center;
}
h3 {
	position: relative;
	transition: .5s;
}

nav.icon-bar .icons  {
	position: fixed;
	bottom: 0px;
	width: 97vw;
	border-top: 1px var(--border) solid;
	padding: 10px 0 10px 0;
} 
.icons {
	display: flex;
	align-items: center;
  	justify-content: center;
	background: var(--background);
	
}
nav.icon-bar .icons p, .icons p {
	flex: 1;
	position: relative;
	text-align: center;
}
nav.icon-bar .icons p a, .icons p a {
	text-decoration: none;
	text-align: center;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: rgba(255,255,255,0.1);
	color: rgba(255,255,255,0.05);
	font-size: 20px;
	z-index: 1;
}
nav.icon-bar .icons p a i.fa, .icons p a i.fab, .icons p a i.fa, i.fas{
	line-height: 40px !important;
	color: rgba(255,255,255,0.3);
}
nav.icon-bar .icons p a:hover, .icons p a:hover {
	color: var(--accent);;
	box-shadow: 0 0 15px var(--accent);;
	text-shadow: 0 0 2px var(--accent);;
}
nav.icon-bar .icons p a.active, .icons p a.active {
	color: var(--accent);;
	box-shadow: 0 0 6px var(--accent);;
	text-shadow: 0 0 2px var(--accent);;
}
.icons p span {
	color: transparent;
	line-height: 30px;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}
.icons p:hover span {
	visibility: visible;
	line-height: 30px;
	width: 100%;
	opacity: 1;
	color: var(--accent);
	text-shadow: 0 0 2px var(--accent);;
}
#palette {
   width: 60px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   top: 5px;
   right: 5px;
   background: var(--background);
   border-radius: 50%;
}
#palette #c.hidden {
  position: absolute;
  top: auto;
  width: 0px;
  height: 0px;
  overflow: hidden;
  background: transparent;
  color: transparent;
  border: none;
}
/* PROCESS */
#process {
	min-height: auto;
}
#process h2 {
	text-align: center
}
#process #chevron {
	display: flex;
	justify-content: center;
}
#process #chevron ol {
    list-style-type: none;
    display: flex;
    max-width: 700px;
    align-content: center;
    justify-content: center;
	flex: 1;
	flex-wrap: wrap;
	margin: 60px 40px -20px 40px;
	padding: 0px
}
#process #chevron ol li {
	text-align: center;
    flex: 1;
	min-width: 120px;
	min-height: 50px;
}
#process #chevron ol li:after {
    content: '»';
    color: var(--text);
    padding: -2px;
    font-size: 17px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 24px solid var(--text);
    border-bottom: 11px solid transparent;
    z-index: 2;
}


#process #chevron ol li a {
	
    padding: 10px;
    margin-bottom: 20px;
}
#process .container .carousel-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
	max-width: 700px;
	margin: 0 auto;
	height: 470px;
    overflow: hidden;
	box-sizing: border-box
}
#process .container .carousel-inner #carousel-items {
	display: flex;
    flex-wrap: wrap;
	transition: 2s transform;
}
#process .container .carousel-inner:before, #process .container .carousel-inner #carousel-items:before {
	display: table;
    content: " ";
}

#process .container .carousel-inner  .item {
	flex-grow: 1;
    display: flex;
    align-items: center;
	    position: relative;
    padding: 100px 20px;
    border: 1px var(--border) solid;
    width: 100%;
    max-width: 800px;
    min-height: 220px;
    background: var(--background);
	margin-top: 30px;
}
#process .container .carousel-inner  .item:before {
	content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
}
#process .container .carousel-inner  .item h2 {
    position: absolute;
    top: 60px;
    right: 20px;
    font-size: 7em;
    font-weight: 600;
    transition: 0.5s;
    color: rgba(255,255,255,0.05);
    min-height: 90px;
}
#process .container .carousel-inner .item:hover h2, .modal .modal-content h4, .modal .modal-content h6 {
    top: 30px;
    color: rgba(255,255,255, 0.8);
	text-shadow: 2px 3px var(--accent);
	transition: top 1s, color 1s, text-shadow 1s;
}
#process .container .carousel-inner .item .card {
	flex: 1;
	box-sizing: border-box;
	align-self: baseline;
	margin-top: 30px;
}
#process .container .carousel-inner .item .card-body {
	padding: 20px;
}
#process .container .carousel-inner .item .card-body a, #process .container .carousel-inner .item .card-body a:visited {
    position: absolute;
    bottom: 70px;
	background: var(--primary);
    text-align: center;
    color: var(--text);
	border: 1px rgba(255,255,255,0.5) solid;
    padding: 11px;
    border-radius: 6px;
	text-decoration: none;
}
.btn {
    background: var(--background);
    text-align: center;
    color: var(--text);
	border: 1px rgba(255,255,255,0.5) solid;
    padding: 11px;
    border-radius: 6px;
	text-decoration: none;
}
#process .container .carousel-inner .item .card-body a:hover, .btn:hover {
    color: var(--primary);
    /* box-shadow: 0 0 15px var(--accent); */
    text-shadow: 0 0 2px var(--accent);
	background: var(--text);
	transition: .5s color ease-in, .5s background ease-in;
	}
#process h3 {
	font-size: 1.5em;
	margin-bottom: 10px;
}

/*RESUME*/

#resume .container .resumetopics, #resume #portfolio {
	display: none;
}
#resume h3 {
	font-size: 1.5em;
	line-height:	2.5em;
	text-align: center;
	
}
#resume > .container > .subsections  {
	display: flex;
	flex-wrap: wrap;
  	align-items: flex-start;
  	justify-content: center;
	width: 100vw;
	flex: 1;
	max-width: 800px;
	margin: 0 auto;
}
#resume > .container > .subsections  > div {
   flex: 1;
   align-self: stretch;
   max-width: 23vw;
   margin: 0px 1vw;
   padding: 2vw;
   position: relative;
   border: 1px var(--border) solid;
   width: 100%;
   background: var(--background);
   justify-content: top;
   align-items: top;
   margin-top: 40px;
   min-width: 250px;
}

#resume > .container > .subsections  > div::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
}
#resume .container .resumetopics .cb {
	flex: 1;
	text-align: center;   
}
#skills-sub-types > h4, #experience p, #education .content h4, #hobbies > div > div > div,  #process #chevron ol li a {
	box-sizing: border-box;
	text-align: center;
    color: var(--text);
    background-color: var(--primary);
    border-color: #ddd;
	min-width: 100%;
	border: 1px solid var(--text);
	padding: 10px;
}
#skills-sub-types > h4:hover,   #experience p:hover, #education .content h4:hover, #hobbies > div > div > div.box:hover, #process #chevron ol li a:hover, #process #chevron ol li a.active {
    font-weight: 900;
    color: var(--primary);
	background: var(--accent);
	transition: background .5s, color .5s;
	text-decoration: none;
	text-shadow: 0 0 2px var(--accent);
}
#process #chevron ol li a:hover, #process #chevron ol li a.active {
   border-radius: 0px;
   border-right: 1px var(--border) solid;
}
#experience ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

#skills-sub-types > div.boxes,  #experience ul li, #education .content p, #hobbies > div > div > div.unbox  {
	display: none;
	background: var(--text);
	color: var(--primary);
	border-top: 1px #ccc solid;
	padding: 20px;
	margin: 0px;
}

#experience ul.block li, .block {
	display: block !important;
}

#skills-sub-types div.boxes.expand {
 	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
	margin: 0px;
	padding: 20px;
}	
#skills-sub-types div.boxes .box {
	max-width: 80px;
 	max-height: 120px;
	text-align: center;
}
#skills-sub-types div.boxes.expand .box svg {
	display: inline-block;
	vertical-align: middle;
}
#skills-sub-types div.boxes.expand .box svg text {
	transition: stroke 20s linear forwards;
	stroke: var(--background);
}
.progressbar__circle {
	  stroke-dasharray: 10 17;
}
.eighty .activate{
      animation: dash1 6s linear forwards;
}
.eightyfive .activate{
      animation: dash2 6s linear forwards;
}
.ninety .activate {
      animation: dash3 6s linear forwards;
}
.ninetyfive .activate {
      animation: dash4 6s linear forwards;
}
	
/*portfolio hexagon*/

.projects-container {
    position: relative;
    width: 700px;
    margin: 2vh  auto;
	padding: 5vh;
	background: var(--background);
	border: 1px var(--border) solid;
	min-height: 64vh;
}
.clear:after {
    content: "";
    display: block;
    clear: both;
}
.projects-container .projects  {
	margin-left: 7vh;
}
.projects-container .projects  .project {
    position: relative;
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    background: transparent;
	overflow: hidden;
	visibility: visible;
	margin-top: 0.071429%;
	margin: 1.6% 1% -8% 1%;
}

.projects-container .projects .project figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F90;
    transform: skewY(-30deg) rotate(60deg);
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
	overflow: hidden;
}

.projects-container .projects .project figure * {
    visibility: visible;
}

.projects-container .projects .project  figure {
	margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
}

.projects-container .projects .project figure img {
	object-fit: cover; 
	opacity: 1;
	}

.projects-container .projects .project figure figcaption {
	position: absolute;
	width: 100%;
	top: 15%;
	text-align: center;
	}
.projects-container .projects .project:nth-child(5) > div > p {
	font-size: 130%;
	margin-top: 50%;
	text-align: center;
	width: 100%;
}
.projects-container .projects .project figure figcaption h4, .projects-container .projects .project figure figcaption h4 a {
	font-size: 115%;
	font-family: 'Josefin Sans', Monotype, sans serif;
	color: #F90;
	background: #000;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 16px;
	padding-bottom: 11px;
}
.projects-container .projects .project figure figcaption p, .projects-container .projects .project figure figcaption  a {
	font-size: 110%;
	color: #000;
	background: #F90;
	text-decoration: none;
	width: 80%;
	margin: 5px auto;
	padding-top: 4px;
	padding-bottom: 4px;
}
.projects-container .projects .project figure figcaption h4 a, .projects-container .projects .project figure figcaption p a {
	display: block;
	width: 100%;
	margin: 0px;
	padding: 0px;
	}
.projects-container .projects .project figure figcaption p a:hover {
	background: #FC3
	}	
.projects-container .projects .project figure figcaption h4 a:hover {
	color: #FC3
	}
a, a::visited {
	color: var(--text);
	}
#portfolios > div > div.projects-container > div > div:nth-child(4) {
	 margin-left: 16%;
}
#portfolios > div > div.projects-container > div > div:nth-child(6) {
	 margin-left: 31%;
}
.controls {
    clear: both;
    display: none;
    visibility: hidden;
}

.modal {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow-y: scroll; 
  scrollbar-gutter: auto;
  background-color: rgba(0,0,0,0.4); 
 }
 .modal .modal-content {
  background: var(--text);
  margin: 15% auto;
  border: 1px solid #888;
  width: 80%; 
}
 .modal .modal-content > div {
  padding-right: 20px;
 }
.modal .modal-content h4, .modal .modal-content h6, .modal .modal-content p,  .modal .modal-content ul li {
	color: var(--background);
}
.modal .modal-content h4 {
	font-size: 3em;
	font-weight: 600;
	min-height: 54px;
	line-height: 45px;
    margin: 20px;
}
.modal .modal-content h6 {
	font-size: 2em;
	line-height: 45px;
	font-weight: 600;
	margin: 20px 0px 0px 0px;
}
.modal .modal-content .modal-body {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: row;
	align-content: top;
	justify-content: space-around;
	gap: 12px;
	box-sizing: border-box;
}
.modal .modal-content .modal-body .item {
	flex: 1;
	text-align: center;
	min-width: 500px;
	
}
.modal .modal-content .modal-body .item img {
	max-width: 500px;
}
.modal .modal-content .modal-body .item ul {
	list-style-type: none;
	max-width: 700px;
	margin: 0 auto;
	padding: 0 20px;
	text-align: left;
	line-height: 32px;
	
}
.modal .modal-content .modal-body .item ul li:before{
	content: '💡  '
}
.modal .modal-content .modal-footer {
	margin: 20px 0px;;
	text-align: right;
}

.fade {
	  display: none; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--border);
  text-decoration: none;
  cursor: pointer;
}

/* CONTACT  */

#contact .container .callout {
  text-align: center;	
}
#contact .container .callout img {
  border-radius: 50%;	
  width: 200px;
  height: 200px;
}
#contact .container .callout h2 {
	font-size: 3em;
}
#contact > div > div > div.content > h2:nth-child(4) {
	padding-top: 20px;
}
#contact .container .callout * {
    margin-bottom: 15px;
}
#contact .container .callout .social, #hobbies .boxes .unbox ul {
   padding: 0px;
   list-style-type: none;
}

@media all and (max-width: 700px) {
	.projects-container .projects .project figure figcaption p, .projects-container .projects .project figure figcaption p a {
		font-size: .8em;
	}
		
	.projects-container .projects .project figure figcaption h4 {
		font-size: .8em;
		margin-top: 0px;
	}
	.projects-container {
		max-width: 80vw; 
		padding: 10vw 2vw 0vw 10vw;
		margin: 0px auto;
	}
	.projects-container .projects  {
		margin-left: 0vh;
	}
	#navlogo {
		display: none;
	}
	
	nav {
		transform: scale(0.8, 0.8);
	}
	section {
		transform: scale(0.8, 0.8);
		box-sizing: border-box;
		min-height: 0px;
		height: auto;
		margin: 0px;
		padding: 0px;
	}
	.modal .modal-content {
		width: 100%;
		margin: 0px;
	}
	#contact {
 	min-height: 105vh;
	}
	#process .container .carousel-inner .item {
		flex-wrap: wrap;
	}
	#process .container .carousel-inner .item .card {
		min-width: 150px;
	}
	
	#process .container .carousel-inner .item .card-body a, #process .container .carousel-inner .item .card-body a:visited {
		position: relative;
		bottom: -27px;
	}
	.modal .modal-content .modal-body .item img {
		max-width: 80vw;
	}
#resume > .container > .subsections > div {
	max-width: 100%;
}
}
@media all and (max-width: 500px) {
	#process .container #chevron {
		padding-bottom: 15px;
	}
#process .container .carousel-inner, #process .container .carousel-inner #carousel-items {
		height: 700px;
	}
#process .container .carousel-inner .item, #process .container .carousel-inner #carousel-items .item {
	flex-direction: column
}
.modal .modal-content .modal-body .item {

	min-width: auto;
	
}
}
@media all and (max-width: 400px) {
	.projects-container {
		max-width: 80vw;
	}
	.projects-container .projects .project figure figcaption h4 {
		margin-top: 10px;
	}
	.projects-container .projects .project figure figcaption p,  .projects-container .projects .project figure figcaption p a {
		display: none;
	}
 	nav {
		transform: scale(0.5, 0.5);
	}
	h1, #home h1 {
		font-size: 3.5em;
	}
	h2, #home h2, #process .container .carousel-inner .item h2 {
			font-size: 3em;
	}
	.projects-container {
		min-height: 90vh;
	}
	.projects-container .projects .project {
		width: 110px;
		padding: 0 0 126px 0;
		margin-right: 10px;
	   /*
		margin-top: 0.071429%;
		margin: 1.6% 1% -8% 1%;
		*/
	}
	#portfolios > div > div.projects-container > div > div:nth-child(4), #portfolios > div > div.projects-container > div > div:nth-child(6) {
		margin-left: 0%;
	}
	#portfolios > div > div.projects-container > div > div:nth-child(3), #portfolios > div > div.projects-container > div > div:nth-child(6)  {
		margin-left: 65px;
	}
section#process {
	min-height: auto;
	height: auto;
	overflow: visible;
	margin-top: -300px;
	margin-bottom: -400px;
}
section .container, #home .container {
	margin-top: auto;
}

#process #chevron {
	display: none;
}
#process .container .carousel-inner, #process .container .carousel-inner #carousel-items {
 	height: auto;
	overflow: visible;
}

}
@keyframes dash1 {
  from {
	  	  stroke-dasharray: 0 0;

   }
   to {
	  stroke-dasharray: 125 125;
	  stroke: var(--background);
  }
}
@keyframes dash2 {
  from {
	  	  stroke-dasharray: 0 0;

   }
   to {
	  stroke-dasharray: 134 143;
	  stroke: var(--background);
  }
}
@keyframes dash3 {
  from {
	  	  stroke-dasharray: 0 0;

   }
   to {
	  stroke-dasharray: 141 141;
	  stroke: var(--background);
  }
}
@keyframes dash4 {
  from {
	  stroke-dasharray: 0 0;

   }
   to {
	  stroke-dasharray: 149 149;
	  stroke: var(--background);
  }
}