@charset "utf-8";
:root {
	--magenta: #e44c8e;
	--seafoam: #19feed;
	--yellow: #ffee0e;
	--slate: #444;
	--grey: #beb9c3;
}

* {
	font-family: Monotype, 'Typewriter',  "PT+Mono", "IBM+Plex+Serif", "Lucida Grande","Lucida Sans Unicode","Lucida Sans", Tahoma, 'Stag-Medium-Web', serif;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	position: relative;
}
h1 {
    text-align: center;
    text-transform: uppercase;
	font-size: 36px;
	line-height: 48px;
}
h2 {
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase;
}
h3 {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: var(--slate);
	font-weight:normal;
}
h4 {
	font-size: 24px;
	text-align: center;
	font-variant: small-caps;
}
p {
	font-size: 18px;
}
ul, ol {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

section:after, article:before {
  content: '';
  width: 100vw;
  height: 10px;
  position: absolute;
  background-repeat: repeat;
  background: white;
  background-image:  
  linear-gradient(90deg, var(--magenta) 0, var(--magenta) 5%, transparent 5%, transparent 95%,  var(--magenta) 95%, var(--magenta) 100%), 	  
  linear-gradient(180deg, var(--magenta) 0, var(--magenta) 10%, transparent 10%, transparent 90%,  var(--magenta) 90%, var(--magenta) 100%), 
  linear-gradient(45deg, transparent 0, transparent 47.5%, var(--magenta) 47.5%, var(--magenta) 52.5%, transparent 52.5%, transparent 100%),
  linear-gradient(135deg, transparent 0, transparent 47.5%, var(--magenta) 47.5%, var(--magenta) 52.5%, transparent 52.5%, transparent 100%);
  background-size: 10px 10px, 10px 10px, 10px 10px, 10px 10px, 10px 10px ;
  opacity: .5;
  z-index: 9;
}
section .container {
	z-index: 10;
	padding: 40px;
}

.sr-only {
	display: none;
}
.btn, figcaption p a {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-primary, figcaption p a {
    color: white;
    background-color: var(--magenta);
    border-color: var(--magenta);
	text-decoration: none;
	margin-top: 10px;
	font-weight: 999;
}

/*HEADER ROW*/
header {
	padding: 0px;
	margin: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 6vh;
	width: 100vw;
    z-index: 10000;
}
header::before {
  content: '';
  width: 100vw;
  height: 6vh;
  position: absolute;
  background-repeat: repeat;
background: linear-gradient(135deg, white 25%, transparent 25%),
linear-gradient(225deg, white 25%, transparent 25%),
linear-gradient(315deg, white 25%, transparent 25%),
linear-gradient(45deg, white 25%, transparent 25%); 
background-size: 6vh 6vh;
background-color: var(--seafoam);
background-repeat: repeat;
opacity: .5;
z-index: -1;
}
header::after {
  content: '';
  width: 100vw;
  height: 6vh;
  position: absolute;
  background-repeat: repeat;
background: 
linear-gradient(135deg, white 6% 9%, var(--seafoam) 9% 12%, white 12% 15%, var(--magenta) 15% 18%, white 18% 25%, transparent 25%),
linear-gradient(225deg, white 6% 9%, var(--magenta) 9% 12%, white 12% 15%, var(--seafoam) 15% 18%, white 18% 25%, transparent 25%),
linear-gradient(315deg, white 6% 9%, var(--seafoam) 9% 12%, white 12% 15%, var(--magenta) 15% 18%, white 18% 25%, transparent 25%),
linear-gradient(45deg, white 6% 9%, var(--magenta) 9% 12%, white 12% 15%, var(--seafoam) 15% 18%, white 18% 25%, transparent 25%);
background-size: 6vh 6vh;
opacity: .5;
z-index: -1;
}
header .container {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1080px;
	gap: 20px;
}
#navlogo {
	flex: 1;
	text-align: center;
}
nav#main {
	flex: 6;
}
nav#main .trigram {
	display: none;
}
#navlogo p:after {
	position: absolute;
	content: ' ';
	left: 50px;
	font-size: 21px;
	-webkit-animation: logo 5s linear infinite;	
	-moz-animation: logo 5s linear infinite;	
	-o-animation: logo 5s linear infinite;	
	animation: logo 5s linear infinite;	
}
#navlogo p:hover {
	-webkit-animation: rotateFirst 1s reverse infinite;	
	-moz-animation: rotateFirst 1s reverse inifinite;	
	-o-animation: rotateFirst 1s reverse infinite;	
	animation: rotateFirst 1s reverse infinite;	
}
nav#main ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
nav#main ul li {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center
}
nav#main ul li a {
	border-radius: 37%;
    background: var(--yellow);
    color: var(--slate);
    border: 10px;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px dashed var(--magenta);
}
ul.droptions {
  position: absolute;
  visibility:hidden;
  top: 4vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
}
nav ul:hover li.dropdown:hover .droptions {
	visibility:visible;
	background: linear-gradient(45deg, var(--primary), var(--secondary), var(--tertiary));
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
nav#main li.dropdown ul.droptions li a {
    width: 150px;
}
nav#main li.dropdown ul.droptions li:hover, nav#main li:hover, #portfolios .controls ul li:hover, #portfolios .container .projects-container .projects  figure figcaption p:hover, .active {
	color: var(--text);
	background: var(--primary); 
	border-radius: 5%;
}

/*HOME*/
#home::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: 
  linear-gradient(to right, transparent 0%  15%, var(--yellow) 15% 20%, transparent 20% 25%, var(--yellow) 25% 30%, transparent 30% 35%, var(--yellow) 35% 40%, transparent 40%  60%, var(--yellow) 60% 65%, transparent 65%  70%, var(--yellow) 70% 75%, transparent 75% 80%, var(--yellow) 80% 85%, transparent 85% 100%),
  linear-gradient(to right, transparent 0%  40%, var(--magenta) 40% 45%, var(--seafoam) 45%  55%, var(--magenta) 55%  60%, transparent 60% 100%), 
  linear-gradient(to right, var(--seafoam) 0% 5%, transparent 5% 40%, var(--magenta) 40% 45%, transparent 45% 55%, var(--magenta) 55% 60%, transparent 60% 95%, var(--seafoam) 95% 100%), 
  linear-gradient(to right, transparent 0%  40%, var(--magenta) 40% 45%, var(--seafoam) 45%  55%, var(--magenta) 55%  60%, transparent 60% 100%), 
  
  linear-gradient(to right, transparent 0%  15%, var(--yellow) 15% 20%, transparent 20% 25%, var(--yellow) 25% 30%, transparent 30% 35%, var(--yellow) 35% 40%, transparent 40%  60%, var(--yellow) 60% 65%, transparent 65%  70%, var(--yellow) 70% 75%, transparent 75% 80%, var(--yellow) 80% 85%, transparent 85% 100%),
  linear-gradient(to right, transparent 0%  40%, var(--magenta) 40% 45%, var(--seafoam) 45%  55%, var(--magenta) 55%  60%, transparent 60% 100%), 
  linear-gradient(to right, var(--seafoam) 0% 5%, transparent 5% 40%, var(--magenta) 40% 45%, transparent 45% 55%, var(--magenta) 55% 60%, transparent 60% 95%, var(--seafoam) 95% 100%), 
  linear-gradient(to right, transparent 0%  40%, var(--magenta) 40% 45%, var(--seafoam) 45%  55%, var(--magenta) 55%  60%, transparent 60% 100%), 

  linear-gradient(to right, transparent 0%  15%, var(--yellow) 15% 20%, transparent 20% 25%, var(--yellow) 25% 30%, transparent 30% 35%, var(--yellow) 35% 40%, transparent 40%  60%, var(--yellow) 60% 65%, transparent 65%  70%, var(--yellow) 70% 75%, transparent 75% 80%, var(--yellow) 80% 85%, transparent 85% 100%),
  linear-gradient(to right, transparent 0%  40%, var(--magenta) 40% 45%, var(--seafoam) 45%  55%, var(--magenta) 55%  60%, transparent 60% 100%), 
  linear-gradient(to right, var(--seafoam) 0% 5%, transparent 5% 40%, var(--magenta) 40% 45%, transparent 45% 55%, var(--magenta) 55% 60%, transparent 60% 95%, var(--seafoam) 95% 100%);

  background-size: 150px 70px;
  background-position: 0 0, 0 70px, 0 140px, 0 210px, 0 280px, 0 350px, 0 420px, 0 490px, 0 560px, 0 630px, 0 700px;
  background-repeat: repeat-x;
  z-index: -1;
  opacity: .5
}
#home .container .card {
	margin: 0 auto;
    background: var(--seafoam);
	width: 500px;
	height: 500px;
	padding: 111px;
	text-align: center;
    clip-path: polygon(50% 0%, 47.38% 10.09%, 43.47% 0.43%, 42.2% 10.77%, 37.06% 1.7%, 37.14% 12.12%, 30.87% 3.81%, 32.31% 14.13%, 25% 6.7%, 27.78% 16.74%, 19.56% 10.33%, 23.63% 19.93%, 14.64% 14.64%, 19.93% 23.63%, 10.33% 19.56%, 16.74% 27.78%, 6.7% 25%, 14.13% 32.31%, 3.81% 30.87%, 12.12% 37.14%, 1.7% 37.06%, 10.77% 42.2%, 0.43% 43.47%, 10.09% 47.38%, 0% 50%, 10.09% 52.62%, 0.43% 56.53%, 10.77% 57.8%, 1.7% 62.94%, 12.12% 62.86%, 3.81% 69.13%, 14.13% 67.69%, 6.7% 75%, 16.74% 72.22%, 10.33% 80.44%, 19.93% 76.37%, 14.64% 85.36%, 23.63% 80.07%, 19.56% 89.67%, 27.78% 83.26%, 25% 93.3%, 32.31% 85.87%, 30.87% 96.19%, 37.14% 87.88%, 37.06% 98.3%, 42.2% 89.23%, 43.47% 99.57%, 47.38% 89.91%, 50% 100%, 52.62% 89.91%, 56.53% 99.57%, 57.8% 89.23%, 62.94% 98.3%, 62.86% 87.88%, 69.13% 96.19%, 67.69% 85.87%, 75% 93.3%, 72.22% 83.26%, 80.44% 89.67%, 76.37% 80.07%, 85.36% 85.36%, 80.07% 76.37%, 89.67% 80.44%, 83.26% 72.22%, 93.3% 75%, 85.87% 67.69%, 96.19% 69.13%, 87.88% 62.86%, 98.3% 62.94%, 89.23% 57.8%, 99.57% 56.53%, 89.91% 52.62%, 100% 50%, 89.91% 47.38%, 99.57% 43.47%, 89.23% 42.2%, 98.3% 37.06%, 87.88% 37.14%, 96.19% 30.87%, 85.87% 32.31%, 93.3% 25%, 83.26% 27.78%, 89.67% 19.56%, 80.07% 23.63%, 85.36% 14.64%, 76.37% 19.93%, 80.44% 10.33%, 72.22% 16.74%, 75% 6.7%, 67.69% 14.13%, 69.13% 3.81%, 62.86% 12.12%, 62.94% 1.7%, 57.8% 10.77%, 56.53% 0.43%, 52.62% 10.09%);
}

/*PORTFOLIO*/


#portfolios {
	width: 100vw;
    min-height: 200px;
	background: white;
	z-index: 8;
}
#portfolios:before {
	content: '';
	width: 100%;
	height: 100%;
	margin-top: 10px;
	position: absolute;
	background: 	linear-gradient(to right, var(--seafoam) 0% 100% ),
						linear-gradient(to right, transparent 0% 16.6%, var(--grey) 16.6% 33%, transparent 33% 50%, transparent 50% 66.6%, var(--grey) 66.6% 83%, transparent 83% 100% ),
						linear-gradient(to right, transparent 0% 16.6%, var(--seafoam) 16.6% 33%, transparent 33% 66.6%, var(--seafoam) 66.6% 83%, transparent 83% 100% ),
						linear-gradient(to right, transparent 0% 25%,  var(--seafoam) 25% 41.6%, transparent 41.6% 58.3%,  var(--seafoam) 58.3% 74.9%, transparent 74.9% 100% ),
						linear-gradient(to right, transparent 0% 33%, var(--seafoam) 33% 66.6%, transparent 66.6% 100% ),
						linear-gradient(to right, transparent 0% 25%,  var(--seafoam) 25% 41.6%, transparent 41.6% 58.3%,  var(--seafoam) 58.3% 74.9%, transparent 74.9% 100% ),
						linear-gradient(to right, transparent 0% 16.6%, var(--seafoam) 16.6% 33%, transparent 33% 66.6%, var(--seafoam) 66.6% 83%, transparent 83% 100% ),
						linear-gradient(to right, transparent 0% 16.6%, var(--grey) 16.6% 33%, transparent 33% 50%, transparent 50% 66.6%, var(--grey) 66.6% 83%, transparent 83% 100% ),
						linear-gradient(to right, var(--seafoam) 0% 100% ),
			linear-gradient(to right, var(--yellow) 0% 16.6%, transparent 16.6% 33%, var(--yellow) 33% 50%, var(--magenta) 50% 66.6%, transparent 66.6% 83%, var(--magenta) 83% 100% ),
			linear-gradient(to right, transparent 0% 16.6%, var(--yellow) 16.6% 33%, transparent 33% 50%, transparent 50% 66.6%, var(--magenta) 66.6% 83%, transparent 83% 100% ),
			linear-gradient(to right, var(--yellow) 0% 16.6%, transparent 16.6% 33%, var(--yellow) 33% 50%, var(--magenta) 50% 66.6%, transparent 66.6% 83%, var(--magenta) 83% 100% ),
						linear-gradient(to right, var(--seafoam) 0% 100% ),
						linear-gradient(to right, transparent 0% 16.6%, var(--grey) 16.6% 33%, transparent 33% 50%, transparent 50% 66.6%, var(--grey) 66.6% 83%, transparent 83% 100% ),
						linear-gradient(to right, transparent 0% 16.6%, var(--seafoam) 16.6% 33%, transparent 33% 66.6%, var(--seafoam) 66.6% 83%, transparent 83% 100% ),
						linear-gradient(to right, transparent 0% 25%,  var(--seafoam) 25% 41.6%, transparent 41.6% 58.3%,  var(--seafoam) 58.3% 74.9%, transparent 74.9% 100% ),
						linear-gradient(to right, transparent 0% 33%, var(--seafoam) 33% 66.6%, transparent 66.6% 100% ),
						linear-gradient(to right, transparent 0% 25%,  var(--seafoam) 25% 41.6%, transparent 41.6% 58.3%,  var(--seafoam) 58.3% 74.9%, transparent 74.9% 100% ),
						linear-gradient(to right, transparent 0% 16.6%, var(--seafoam) 16.6% 33%, transparent 33% 66.6%, var(--seafoam) 66.6% 83%, transparent 83% 100% ),
						linear-gradient(to right, transparent 0% 16.6%, var(--grey) 16.6% 33%, transparent 33% 50%, transparent 50% 66.6%, var(--grey) 66.6% 83%, transparent 83% 100% ),
						linear-gradient(to right, var(--seafoam) 0% 100% ),
			linear-gradient(to right, var(--yellow) 0% 16.6%, transparent 16.6% 33%, var(--yellow) 33% 50%, var(--magenta) 50% 66.6%, transparent 66.6% 83%, var(--magenta) 83% 100% ),
			linear-gradient(to right, transparent 0% 16.6%, var(--yellow) 16.6% 33%, transparent 33% 50%, transparent 50% 66.6%, var(--magenta) 66.6% 83%, transparent 83% 100% ),
			linear-gradient(to right, var(--yellow) 0% 16.6%, transparent 16.6% 33%, var(--yellow) 33% 50%, var(--magenta) 50% 66.6%, transparent 66.6% 83%, var(--magenta) 83% 100% ),
						linear-gradient(to right, var(--seafoam) 0% 100% ),
						linear-gradient(to right, transparent 0% 16.6%, var(--grey) 16.6% 33%, transparent 33% 50%, transparent 50% 66.6%, var(--grey) 66.6% 83%, transparent 83% 100% ),
						linear-gradient(to right, transparent 0% 16.6%, var(--seafoam) 16.6% 33%, transparent 33% 66.6%, var(--seafoam) 66.6% 83%, transparent 83% 100% ),
						linear-gradient(to right, transparent 0% 25%,  var(--seafoam) 25% 41.6%, transparent 41.6% 58.3%,  var(--seafoam) 58.3% 74.9%, transparent 74.9% 100% ),
						linear-gradient(to right, transparent 0% 33%, var(--seafoam) 33% 66.6%, transparent 66.6% 100% ),
						linear-gradient(to right, transparent 0% 25%,  var(--seafoam) 25% 41.6%, transparent 41.6% 58.3%,  var(--seafoam) 58.3% 74.9%, transparent 74.9% 100% ),
						linear-gradient(to right, transparent 0% 16.6%, var(--seafoam) 16.6% 33%, transparent 33% 66.6%, var(--seafoam) 66.6% 83%, transparent 83% 100% ),
						linear-gradient(to right, transparent 0% 16.6%, var(--grey) 16.6% 33%, transparent 33% 50%, transparent 50% 66.6%, var(--grey) 66.6% 83%, transparent 83% 100% ),
						linear-gradient(to right, var(--seafoam) 0% 100% ),
			linear-gradient(to right, var(--yellow) 0% 16.6%, transparent 16.6% 33%, var(--yellow) 33% 50%, var(--magenta) 50% 66.6%, transparent 66.6% 83%, var(--magenta) 83% 100% ),
			linear-gradient(to right, transparent 0% 16.6%, var(--yellow) 16.6% 33%, transparent 33% 50%, transparent 50% 66.6%, var(--magenta) 66.6% 83%, transparent 83% 100% ),
			linear-gradient(to right, var(--yellow) 0% 16.6%, transparent 16.6% 33%, var(--yellow) 33% 50%, var(--magenta) 50% 66.6%, transparent 66.6% 83%, var(--magenta) 83% 100% ),
					   linear-gradient(to right, var(--seafoam) 0% 100% ),
						linear-gradient(to right, transparent 0% 16.6%, var(--grey) 16.6% 33%, transparent 33% 50%, transparent 50% 66.6%, var(--grey) 66.6% 83%, transparent 83% 100% ),
						linear-gradient(to right, transparent 0% 16.6%, var(--seafoam) 16.6% 33%, transparent 33% 66.6%, var(--seafoam) 66.6% 83%, transparent 83% 100% ),
						linear-gradient(to right, transparent 0% 25%,  var(--seafoam) 25% 41.6%, transparent 41.6% 58.3%,  var(--seafoam) 58.3% 74.9%, transparent 74.9% 100% ),
						linear-gradient(to right, transparent 0% 33%, var(--seafoam) 33% 66.6%, transparent 66.6% 100% ),
						linear-gradient(to right, transparent 0% 25%,  var(--seafoam) 25% 41.6%, transparent 41.6% 58.3%,  var(--seafoam) 58.3% 74.9%, transparent 74.9% 100% ),
						linear-gradient(to right, transparent 0% 16.6%, var(--seafoam) 16.6% 33%, transparent 33% 66.6%, var(--seafoam) 66.6% 83%, transparent 83% 100% ),
						linear-gradient(to right, transparent 0% 16.6%, var(--grey) 16.6% 33%, transparent 33% 50%, transparent 50% 66.6%, var(--grey) 66.6% 83%, transparent 83% 100% ),
						linear-gradient(to right, var(--seafoam) 0% 100% ),
			linear-gradient(to right, var(--yellow) 0% 16.6%, transparent 16.6% 33%, var(--yellow) 33% 50%, var(--magenta) 50% 66.6%, transparent 66.6% 83%, var(--magenta) 83% 100% ),
			linear-gradient(to right, transparent 0% 16.6%, var(--yellow) 16.6% 33%, transparent 33% 50%, transparent 50% 66.6%, var(--magenta) 66.6% 83%, transparent 83% 100% ),
			linear-gradient(to right, var(--yellow) 0% 16.6%, transparent 16.6% 33%, var(--yellow) 33% 50%, var(--magenta) 50% 66.6%, transparent 66.6% 83%, var(--magenta) 83% 100% );
  background-size:  180px 30px;
  background-position: 0 0, 0 30px, 0 60px, 0 90px, 0 120px, 0 150px, 0 180px, 0 210px, 0 240px, 0 270px, 0 300px, 0 330px, 
  								 0 360px, 0 390px, 0 420px, 0 450px, 0 480px, 0 510px, 0 540px, 0 570px, 0 600px, 0 630px,  0 660px, 0 690px, 
								 0 720px, 0 750px, 0 780px, 0 810px, 0 840px, 0 870px, 0 900px, 0 930px, 0 960px, 0 990px, 0 1020px, 0 1050px, 
								 0 1080px, 0 1110px, 0 1140px, 0 1170px, 0 1200px, 0 1230px,  0 1260px, 0 1290px, 0 1320px, 0 1350px, 0 1380px, 0 1410px;
  background-repeat: repeat-x;
  z-index: 9;
  opacity: .5
}
#portfolios .container * {
	z-index: 11;
}
#portfolios .controls {
    display: none;
}
#portfolios .container .projects-container .projects {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	max-width: 700px;
	gap: 25px;
	max-width: 1080ps;
}
#portfolios .container .projects-container .projects .project:nth-child(odd)  {
	transform: rotate(45deg);
}
#portfolios .container .projects-container .projects .project:nth-child(even)  {
	transform: rotate(-45deg) scale(1,1);
}
#portfolios .container .projects-container .projects .project figure  {
	flex: 1;
}
#portfolios .container .projects-container .projects .project figure  img {
}
#portfolios .container .projects-container .projects .project figure  img:hover {
    clip-path: unset;
}
#portfolios .container .projects-container .projects .project figure figcaption {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#portfolios .container .projects-container .projects figure figcaption h4 {
 display: none;
}
#portfolios .container .projects-container .projects figure figcaption p {
 flex: 1;
 max-width: 100px;
}



/*PROCESS*/
section#process:before {
  content: '';
  width: 100vw;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(135deg, var(--grey) 0% 7%, var(--magenta) 7% 11%, transparent 10% 15%, var(--seafoam) 15% 22.5%, transparent 22.5% 25%, var(--seafoam) 25% 29%, transparent 29% 31.5%, var(--seafoam) 31.5% 39%, transparent 39% 100%), 
    linear-gradient(45deg, transparent 0 60%, var(--seafoam) 60% 67.5%, transparent 67.5% 70%, var(--seafoam) 70% 74%, transparent 74%  76.5%, var(--seafoam) 76.5% 84%, transparent 84% 89%, var(--magenta) 89% 93%, var(--grey) 93% 100%),
    linear-gradient(135deg, white 0 30%, var(--magenta) 30% 36.5%, transparent 36.5% 100%), 
    linear-gradient(45deg, transparent 0 6%, var(--grey) 6% 62%, var(--magenta) 62% 67.5%, transparent 67.5% 100%);
  background-size: 100vw 100%;
  background-position: 0 0, 0 0, 0 10vh, 0 10vh;
  background-repeat: no-repeat;
  opacity: .5;
  z-index: 10;
}
#process {
	background: white;
	z-index: 11;
	margin-top: 10px;
}
#designCarousel {
	overflow: hidden;
	padding-bottom: 30px;
	min-height: 350px;
	text-align: center;
}
#designCarousel .carousel-inner {
    position: relative;
    width: 100vw;
	display: flex;
	transition: 2s transform;
	padding-top: 40px;
	padding-left: 1.5vw;
}
#designCarousel  div.carousel-inner  .item {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	gap: 22px;
}
#designCarousel  div.carousel-inner  .item h2 {
	width: 90vw;
}
#designCarousel  div.carousel-inner  .item .card {
	display: flex;
	flex: 1;
	max-width: 25vw;
}
#designCarousel  div.carousel-inner  .item .card .card-body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
    background: var(--seafoam);
    padding: 60px 20px 100px 20px;
    border-radius: 25%;
}
#designCarousel  div.carousel-inner  .item .card .card-body a{
	align-self: center;
	justify-self: flex-end;  
	position: absolute;
	bottom: 0px;
}
.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}



/*MODAL*/

.modal {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow-y: scroll; 
  scrollbar-gutter: auto;
  background-color: rgba(0,0,0,0.4); 
  z-index: 40;
 }

 .modal .modal-content {
  background: white;
  margin: 15% auto;
  border: 1px solid #888;
  width: 80%; 
}
 .modal .modal-content > div {
  padding-right: 20px;
 }

.modal .modal-content h4 {
	margin: 0;
    line-height: 1.42857143;
    text-align: center;
    font-size: 40px;
    font-variant: small-caps;
}
.modal .modal-content h6 {
	font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #5f8e6c;
    padding-top: 20px;
	}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal .modal-content .modal-body {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: row;
	align-content: top;
	justify-content: space-around;
	gap: 12px;
	box-sizing: border-box;
}
.modal .modal-content .modal-body .item {
	flex: 1;
	text-align: center;
	min-width: 500px;
	
}
.modal .modal-content .modal-body .item img {
	max-width: 500px;
}
.modal .modal-content .modal-body .item ul {
	list-style-type: none;
	max-width: 700px;
	margin: 0 auto;
	padding: 0 20px;
	text-align: left;
	line-height: 32px;
}
.modal .modal-content .modal-body .item ul li:before{
	content: '🤔'
}
.modal-body p img {
	max-width: 100%;
}	
.modal .modal-content .modal-footer {
	margin: 20px 0px;;
	text-align: right;
}
.fade {
	  display: none; 
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.close:hover,
.close:focus {
  color: var(--border);
  text-decoration: none;
  cursor: pointer;
}

.btn {
	margin-bottom: 40px;
	font-size: 16px;
}


/*RESUME*/
#resume {
	background: var(--seafoam);
}
#resume::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: 
	linear-gradient(180deg, var(--seafoam) 10%, transparent 10%),
	linear-gradient(-63deg, transparent 90%, var(--slate) 90%),
	linear-gradient(180deg, transparent 80%, var(--seafoam) 80%),
	linear-gradient(90deg, transparent 42.5%, var(--grey) 42.5% 47.5%, transparent 47.5% 52.5%, var(--grey) 52.5% 57.5%, transparent 57.5%),
	linear-gradient(90deg, transparent 47.5%, var(--slate) 47.5% 52.5%, transparent 52.5%),
	linear-gradient(90deg, transparent 47.5%, var(--grey) 47.5% 52.5%, transparent 52.5%),
	linear-gradient(135deg, white 20%,transparent 20%),
	linear-gradient(225deg, white 20%,transparent 20%),
	linear-gradient(315deg, white 20%, transparent 20%),
	linear-gradient(45deg, white 20%, transparent 20%);
	background-size: 200px 100px;
	opacity: .5;
}
#resume .subsections {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
			display: -webkit-flex; 
   			-webkit-flex-wrap: wrap; 
		max-width: 1080px;
		margin: 0 auto;
	}
 #resume #portfolio, #resume .resumetopics {
	 display: none;
}
#resume #skills {
		flex: 1;
		padding: 10px;
		min-width: 250px;
		max-width: 350px;
	}
#resume #experience, #resume #education, #resume #hobbies,  #resume #contact {
		flex: 2;
		padding: 10px;
		min-width: 420px;
}
#skills-sub-types, #experience .content, #education .content, #hobbies .content {
  		color: var(--slate);
		background: #eff0f1; 
		padding: 20px 40px 40px 40px;
		margin-top: -1px;
		border: 10px groove var(--grey);
}
#resume .boxes {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
			display: -webkit-flex; 
   			-webkit-flex-wrap: wrap; 
		width: 100%;
	}
#resume #skills .box {
    flex: 1;
    text-align: center;
    width: 100px;
    height: 100px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	font-weight: 999;
}
#resume p, #resume ul li {
	font-weight: 999;	
}
#resume h3 {
		background: var(--slate);
		color: white; 
		font-variant:small-caps;
		padding: 20px;
		border: 1px #ccc solid;
		display: flex;
		display: -webkit-flex; 
		align-items: center;
		margin: 0px;
		
	}
#resume h4, #experience .content p, #hobbies .content .boxes .box {
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
    line-height: 24px;
    font-variant: small-caps;
    border-bottom: 20px var(--magenta) groove;
    font-weight: 200;
    padding-bottom: 15px;
    margin-bottom: 15px;
	margin-top: 10px;
	font-weight: 999;

}
#resume ul {
	    list-style-type: disclosure-closed;
		padding-left: 20px;
}
#hobbies .content .boxes {
	flex-direction: column;
}
#resume .spacer {
		height: 10px;
	}
#resume section .content {
		border: 1px #ccc solid;
		padding: 5px;
	}
#resume .intro img {
		margin-right: 10px;
	}


.progressbar__circle {
	  stroke-dasharray: 10 17;
}
.eighty .activate{
      animation: dash1 6s linear forwards;
}
.eightyfive .activate{
      animation: dash2 6s linear forwards;
}
.ninety .activate {
      animation: dash3 6s linear forwards;
}
.ninetyfive .activate {
      animation: dash4 6s linear forwards;
}
	
/*CONTACT*/
#contact::before {
  content: '';
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: 
    linear-gradient(45deg, transparent 45%, var(--seafoam) 45% 55%, transparent 55%), 
    linear-gradient(135deg, transparent 45%, var(--magenta) 45% 55%, transparent 55%), 
    linear-gradient(135deg, transparent 45%, var(--yellow) 45% 55%, transparent 55%), 
    linear-gradient(45deg, transparent 45%, var(--grey) 45% 55%, transparent 55%),
    
    linear-gradient(135deg, white 15%,transparent 15%),
    linear-gradient(225deg, white 15%,transparent 15%),
    linear-gradient(315deg, white 15%, transparent 15%),
    linear-gradient(45deg, white 15%, transparent 15%),
    
    linear-gradient(135deg, var(--grey) 20%,transparent 20%),
    linear-gradient(225deg, var(--seafoam) 20%,transparent 20%),
    linear-gradient(315deg, var(--grey) 20%, transparent 20%),
    linear-gradient(45deg, var(--seafoam) 20%, transparent 20%),
    
    linear-gradient(135deg, var(--seafoam) 25%,transparent 25%),
    linear-gradient(225deg, var(--grey) 25%,transparent 25%),
    linear-gradient(315deg, var(--seafoam) 25%, transparent 25%),
    linear-gradient(45deg, var(--grey) 25%, transparent 25%),
    
	linear-gradient(135deg, var(--grey) 30%,transparent 30%),
    linear-gradient(225deg, var(--seafoam) 30%,transparent 30%),
    linear-gradient(315deg, var(--grey) 30%, transparent 30%),
    linear-gradient(45deg, var(--seafoam) 30%, transparent 30%), 
    
     linear-gradient(135deg, var(--seafoam) 35%,transparent 35%),
    linear-gradient(225deg, var(--grey) 35%,transparent 35%),
    linear-gradient(315deg, var(--seafoam) 35%, transparent 35%),
    linear-gradient(45deg, var(--grey) 35%, transparent 35%),
    
    linear-gradient(135deg, var(--grey) 40%,transparent 40%),
    linear-gradient(225deg, var(--seafoam) 40%,transparent 40%),
    linear-gradient(315deg, var(--grey) 40%, transparent 40%),
    linear-gradient(45deg, var(--seafoam) 40%, transparent 40%),
    
    linear-gradient(135deg, var(--seafoam) 45%,transparent 45%),
    linear-gradient(225deg, var(--grey) 45%,transparent 45%),
    linear-gradient(315deg, var(--seafoam) 45%, transparent 45%),
    linear-gradient(45deg, var(--grey) 45%, transparent 45%),    
    
    linear-gradient(135deg, var(--grey) 50%, transparent 50%),
    linear-gradient(225deg, var(--seafoam) 50%, transparent 50%),
    linear-gradient(315deg, var(--seafoam) 50%, transparent 50%),
    linear-gradient(45deg, var(--seafoam) 50%, transparent 50%);
    
  background-size:
    100px 100px, 100px 100px, 100px 100px, 100px 100px,
    100vw 100vh, 100vw 100vh, 100vw 100vh, 100vw 100vh,
    100vw 100vh, 100vw 100vh, 100vw 100vh, 100vw 100vh,
    100vw 100vh, 100vw 100vh, 100vw 100vh, 100vw 100vh,       
    100vw 100vh, 100vw 100vh, 100vw 100vh, 100vw 100vh,
    100vw 100vh, 100vw 100vh, 100vw 100vh, 100vw 100vh,
    100vw 100vh, 100vw 100vh, 100vw 100vh, 100vw 100vh,
    100vw 100vh, 100vw 100vh, 100vw 100vh, 100vw 100vh,
    100vw 100vh, 100vw 100vh, 100vw 100vh, 100vw 100vh;
    
  background-position: 
    20px 20px, 
    right 20px top 20px,
    left 20px bottom 20px,
    right 20px  bottom 20px, 
    0 0, 0 0, 0 0, 0 0,
    0 0, 0 0, 0 0, 0 0,
    0 0, 0 0, 0 0, 0 0,
    0 0, 0 0, 0 0, 0 0,
    0 0, 0 0, 0 0, 0 0,
    0 0, 0 0, 0 0, 0 0,
    0 0, 0 0, 0 0, 0 0,
    0 0, 0 0, 0 0, 0 0;
    
  background-repeat: no-repeat;
  opacity: .5
}

#contact .container	 {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#contact h2, #contact p, #contact li {
		text-align: center;
		padding-top: 15px;
}
#contact h2:first-child {
	margin-top: 30px;	
}
.callout {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	margin: auto;
	inset: 0;
	padding: 15px 0;
	bottom: 50v;
}
#contact img {
	border-radius: 50%;
	float: left;
	margin-top: 300px;
}
#contact .callout .content {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}
#contact .callout .content::before {
	content: '';
	position: absolute;
	width: 300px;
	height: 300px;
	background: rgba(255,255,255, 0.5);
	border-radius: 50%;
	left: 0;
	
}
/*CHEVRON*/
#chevron {
	text-align: center;
}
#chevron ol {
	list-style: none;
	display: inline-table;
	margin-top: 20px;
}
#chevron ol li {
	display: inline;
	padding-bottom: 10px;
}
#chevron ol li a {
	display: block;
	float: left;
	background: #444;
	text-align: center;
	padding: 25px 40px 25px 80px;
	position: relative;
	margin: 0 10px 0 0; 
	font-size: 20px;
	text-decoration: none;
	color: #fff;
}
#chevron ol li a:after {
	content: "";  
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid #444;
	position: absolute; 
	right: -39px; 
	top: 0;
	z-index: 1;
}
#chevron ol li a:before {
	content: "";  
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid var(--seafoam);;
	position: absolute; left: 0; top: 0;
}
#chevron ol li:first-child a {
	border-top-left-radius: 10px; 
	border-bottom-left-radius: 10px;
}
#chevron ol li:first-child a:before {
	display: none; 
}
#chevron ol li:last-child a {
	padding-right: 80px;
	border-top-right-radius: 10px; 
	border-bottom-right-radius: 10px;
}
#chevron ol li:last-child a:after {
	display: none; 
}
#chevron ol li a.active {
	background: var(--magenta);
	font-weight: 999;
}
#chevron ol li a.active:after {
	border-left-color: var(--magenta);
}

/*COLOR PICKER*/
#palette {
   width: 60px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   top: 60px;
   right: 5px;
   background: var(--yellow);
   border-radius: 50%;
   z-index: 1000;
}
#palette #c.hidden {
  position: absolute;
  top: auto;
  width: 0px;
  height: 0px;
  overflow: hidden;
  background: transparent;
  color: transparent;
  border: none;
}
	
@media screen and (max-width: 775px) {

  #resume #skills {
 	  min-width: unset;
	  max-width: unset;
  }
  #portfolios .container .projects-container .projects .project figure img {
  		width: 250px;
		height: 250px;
  }
  #designCarousel div.carousel-inner .item {
  		flex-direction: column;
		align-items: center;
  }
  #designCarousel div.carousel-inner .item .card {
  		max-width: unset;
		width: 80vw;
  }
  
header .container {
	align-items: center;
}
nav#main .menuitems:before {
	content: '☰';
	display: block;
    color: var(--text);
    text-align: right;
    padding: 10px 40px;
}
nav#main ul {
  position: absolute;
  visibility:hidden;
  top: 3vh;
  right: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, var(--primary), var(--secondary), var(--tertiary));
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  gap: 0px;
}

nav .menuitems:hover ul li{
	visibility:visible;
	background: linear-gradient(45deg, var(--primary), var(--secondary), var(--tertiary));
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
nav#main li a {
    width: 150px;
	color: var(--quarternary);
}
nav#main .menuitems ul li:hover {
	color: var(--text);
	background: var(--primary); 
	border-radius: 5%;
}
nav#main .menuitems ul li.dropdown ul.droptions {
    display: none;
}
nav#main .menuitems ul li.dropdown:hover ul.droptions {
	display: flex;
    right: 140px;
	top: -40px;
}
}
@media screen and (max-width: 620px) {
  #portfolios .container .projects-container .projects .project figure:first-child {
	  margin-top: 20px
  }
  #portfolios .container .projects-container .projects .project figure img {
  		width: 150px;
		height: 150px;
  }
  #contact .callout {
	 	flex-direction: column-reverse;
		align-items	: center;
		justify-content: center;
		margin: 0 auto;
  }
  section .container {
	  padding: 10px;
   }

  #resume #experience, #resume #education, #resume #hobbies, #resume #contact {
	  flex: 1;
	  min-width: unset;
	  padding: 0;
   }
   #skills-sub-types, #experience .content, #education .content, #hobbies .content {
    padding: 40px 0px;
	}
	#experience ul {
		padding: 30px auto -30px auto;
	}
	.chevron {
		padding-left: 30px;
		padding-right: -30px;
	}
#contact img {
	margin-top: 50px;
}
}
@media screen and (max-width: 530px) {

  #home .container .card {
	 transform: scale(.8,.8);
	 width: unset;
	 height: unset;
   }
 header {
	 position: fixed;
    top: 0px;
    background: white;
 }

}
@media screen and (max-width: 400px) {
 #home .container .card {
     width: 100vw;
	 padding-left: 80px;
	 padding-right: 80px;
}

}