@charset "utf-8";


body , .newfont{
	font-family: Monotype, 'Typewriter',  "PT+Mono", "IBM+Plex+Serif", "Lucida Grande","Lucida Sans Unicode","Lucida Sans", Tahoma, 'Stag-Medium-Web', serif;
	font-size: 16px;
}

h2{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	text-transform: uppercase;
}
h4 {
	text-align: center;
	font-size: 40px;
	font-variant: small-caps;
}

p {
	font-size: 18px;
}

h5 {
	font-size: 24px;
		text-transform: uppercase;
		text-align: center;
	color: #5f8e6c;
}
.modal { 
	overflow-y: auto 
}
.modal-body h6 {
		font-size: 24px;
		text-transform: uppercase;
		text-align: center;
	color: #5f8e6c;
		padding-top: 20px;
}
.modal-body h6:first-child {
		padding-top: 0px;
		padding-bottom: 10px;
}
.modal-body img {
		margin: 0 auto;
}
.modal-footer .btn {
		margin-bottom: 0px
}
header {
	background: #ccc url("../img/hero-banner2.gif") no-repeat;
	background-size: cover;
	background-position: center;
	height: 600px;
	padding: 0px;
	margin: 0px;
}
.main-menu {
	background-color: rgba(255,255,255,1);
}
.main-menu ul {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.main-menu ul li {
	flex: 1;
	list-style-type: none;
	min-width: 50px;
	text-align: center;
	padding: 20px 10px 10px 10px;
	}
.main-menu ul li a {
	margin: 0px;
	color: #444;
	font-weight: 700;
	border: 1px #ccc solid;
	padding: 5px 15px;
	background: #ccc;
}
.main-menu ul li a:hover {
	background: #d8e3f3;
}
.logo-head,  {
	color: #5f8e6c;
	font-size: 24px;
	font-weight: 800;
}
.logo-subhead {
	color: #666;
	font-size: 20px;	
	font-weight: 800;
}
.quote {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 500px;
	text-align: center;
}
.callout {
	background-color: rgba(255,255,255,.5); padding: 20px;
}
.quote #blockquote {
	font-size: 44px;
	color: #444;
	background-color: rgba(255,255,255,.5);
	padding: 20px;
	max-width: 1000px;
	text-align: center;
}
.unresponsive {
	display: none;
}
.aboutbhavika {
	/*
	background: #eff0f1;
	rgba(216,227,243,.8)
	#d8e3f3*/
	background: #ccc url("../img/hero-banner2.gif") no-repeat;
	background-size: cover;
	background-position: center;	
	height: 300px;
	padding: 0px;
	margin-bottom: 80px;
	display: flex;
	align-items: center;
    justify-content: space-around;
}
.aboutletter, .shareit {
	padding: 0 80px;
}

#mywork, #events {
	background-color: #d8e3f3; 
}
#contact {
	background: #ccc url("../img/hero-banner1.gif") no-repeat;
	background-size: cover;
	background-position: right;
	height: 300px;
	padding: 0px;
}

#contact h2, #contact p {
		text-align: center;
}
.newfont, #classes ul li a {
	font-size: 18px;
}
.nowrap {
	white-space: nowrap;
}

.col-xs-4 {
	min-width: 300px;
}
.col-xs-4 p {
	text-align: center;
		min-width: 300px;

}
.col-xs-4 p img {
		max-width: 300px;

}
#designCarousel {
	padding-bottom: 30px;
}

#designCarousel, #workCarousel {
	min-height: 350px;
	text-align: center;
}

#workCarousel a {
	color: grey;
}

.carousel-control {
	width: 3%;	
}
.carousel-indicators li {
  background-color: grey;
}
.carousel-indicators .active {
  background-color: black;
}

div .menu-icon {
display: none;
}

.btn {
	margin-bottom: 40px;
	font-size: 16px;
}

.row2 {
		display: flex;
		flex-wrap: wrap;
			display: -webkit-flex; /* Safari */
   			-webkit-flex-wrap: wrap; /* Safari 6.1+ */
		/*font-family: garamond, Verdana, Geneva, sans-serif;*/
		width: 100%;
		
	}
#resume .col-flex-3 {
		flex: 3;
		padding: 10px;
		min-width: 150px;
	}
#resume .col-flex-9 {
		flex: 9;
		padding: 10px;
	}
#resume .boxes {
		display: flex;
		flex-wrap: wrap;
			display: -webkit-flex; /* Safari */
   			-webkit-flex-wrap: wrap; /* Safari 6.1+ */
		width: 100%;
	}
#resume .box {
		flex: 1;
		text-align: center;
		width: 100px;
		height: 90px;
	}
#resume h3 {
		background: #eff0f1; 
		/* font-family: Copperplate, Verdana, Geneva, sans-serif; */
		font-variant:small-caps;
		padding: 20px;
		border: 1px #ccc solid;
		display: flex;
			display: -webkit-flex; /* Safari */
		align-items: center;
		margin: 0px;
	}
#resume h4 {
		color: steel;
		text-align: center;
		font-size: 18px;
		padding-top: 20px;
	}
#resume .spacer {
		height: 10px;
	}
#resume section .content {
		border: 1px #ccc solid;
		padding: 5px;
	}
#resume .intro img {
		margin-right: 10px;
	}
	
.blue {
	background: #d8e3f3;
}
.grey {
	background: #eff0f1;
}

.paddedtopside {
	padding-top: 20px;
	padding-left: 20px;
}
#ux {
	background: #eff0f1;
	min-height: 200px;
}
#chevron {
	text-align: center;
}

#chevron ol {
	list-style: none;
	display: inline-table;
	margin-top: 20px;
}
#chevron ol li {
	display: inline;
	padding-bottom: 10px;
}

#chevron ol li a {
	display: block;
	float: left;
	height: 50px;
	background: #444;
	text-align: center;
	padding: 30px 40px 50px 80px;
	position: relative;
	margin: 0 10px 0 0; 
	
	font-size: 20px;
	text-decoration: none;
	color: #fff;
}
#chevron ol li a:after {
	content: "";  
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid #444;
	position: absolute; right: -39px; top: 0;
	z-index: 1;
}

#chevron ol li a:before {
	content: "";  
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid #d4f2ff;
	position: absolute; left: 0; top: 0;
}

	#chevron ol li:first-child a {
		border-top-left-radius: 10px; border-bottom-left-radius: 10px;
	}
	#chevron ol li:first-child a:before {
		display: none; 
	}
	
	#chevron ol li:last-child a {
		padding-right: 80px;
		border-top-right-radius: 10px; border-bottom-right-radius: 10px;
	}
	#chevron ol li:last-child a:after {
		display: none; 
	}

#chevron ol li a.active {
	background: #3498db;
}
	#chevron ol li a.active:after {
		border-left-color: #3498db;
	}
.modal-body p img {
	max-width: 100%;
}	
	
@media screen and (max-width: 1300px) {
.carousel-indicators {
    display: none;
}
.col-xs-4 {
	width: 100vw;
}

.col-xs-4 p {
	width: 100vw;
	text-align: center;
}
.col-xs-4 p img {
		max-width: 450px;

}


}
@media screen and (max-width: 1000px) {
#resume .col-flex-3, #resume .col-flex-9 {
min-width: 350px;
}


}
@media screen and (max-width: 680px)
{
nav ul#navmenu li {
    display: none;
}

div .menu-icon {
	display: inline-block;
	float: right;
    border: none;
    margin: 0px;
    padding: 0px;
	font-size: 20px;
	color: #666;
	font-weight: 800;
}

div .menu-icon a {
    text-align: left;
	color: #666;
}

ul#navmenu.responsive {
	margin-top: 0px;
	height: 300px;
	text-align: center;
	display: flex;
	flex-direction: column;
}
ul#navmenu.responsive li {
    display: flex;
	flex: 1;
	margin: 0px;		
}

ul#navmenu.responsive li a{
   margin: 0px;
   text-align: center;
   border: 0px;
   background:  #eff0f1;
}
ul#navmenu.responsive li a:hover {
   background:  #eff0f1;
}

.aboutletter, .shareit {
	padding: 0 20px;
}

}